<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jam_azan2">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android:hardware.camera.autofocus"
        android:required="false" /> <!-- for most things, including card.io & paypal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jam_azan2">
        <activity
            android:name="com.example.jam_azan2.PaymentDetails"
            android:exported="false" />
        <activity
            android:name="com.example.jam_azan2.SplashScreen_Activity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.jam_azan2.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.jam_azan2.TentangKami_Activity" />
        <activity android:name="com.example.jam_azan2.AdminSettings_Activity" />
        <activity android:name="com.example.jam_azan2.UserSettings_Activity" />
        <activity android:name="com.example.jam_azan2.Notifikasi_Activity" />
        <activity android:name="com.example.jam_azan2.Derma_Activity" />
        <activity android:name="com.example.jam_azan2.UpdatePassword" />
        <activity android:name="com.example.jam_azan2.UpdateProfile" />
        <activity android:name="com.example.jam_azan2.ProfileActivity" />
        <activity android:name="com.example.jam_azan2.ForgotPassword_Activity" />
        <activity android:name="com.example.jam_azan2.RegistrationActivity" />
        <activity android:name="com.example.jam_azan2.DashboardUser" />
        <activity android:name="com.example.jam_azan2.DashboardAdmin" />
        <activity android:name="com.example.jam_azan2.DataAzan" />
        <activity android:name="com.example.jam_azan2.DataKalendarHijrah" />

        <service android:name="com.example.jam_azan2.ServiceSubuh"></service>
        <service android:name="com.example.jam_azan2.ServiceSyuruk"></service>
        <service android:name="com.example.jam_azan2.ServiceZohor"></service>
        <service android:name="com.example.jam_azan2.ServiceAsar"></service>
        <service android:name="com.example.jam_azan2.ServiceMaghrib"></service>
        <service android:name="com.example.jam_azan2.ServiceIsyak"></service>
    </application>

</manifest>